html {
  /*background: url("http://i.imgur.com/i6x8lDh.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background: white;
}

body {
  min-height: 100vh;
  font-family: "Cabin", sans-serif;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

footer {
  font-size: 18px;
  padding: 10px;
}

#bgg-logo {
  height: 30px;
}

.App {
  text-align: center;
}


.page-title {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 24px;
  color: #555;
  margin: 10px;
  margin-top: 20px;
}

.Header {
  position: relative;
  background: #4dd89f;
  height: 70px;
  width: 100vw;
}

.nav-container, .logo {
  text-decoration: none;
  height: 75px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5vw;
}

.logo {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 42px;
  color: white;
  padding-left: 10px;
}

.nav-button, .log-button {
  margin: 0 10px;
  border: none;
  background: rgba(0,0,0,0);
  font-family: "Passion One", cursive;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
}

.nav-button:hover, .log-button:hover, .logo-text:hover{
  color: #3f78a0;
}

.nav-button:focus, .log-button:focus {
  outline: none;
}

.selected {
  color: #3f78a0;
}

.log-bar {
  position: absolute;
  right: 20px;
  transform: translateY(-13px);
  top: 50%;
  bottom: 50%;
}

.game-details-container, .game-description {
  font-family: 'Cabin', cursive;
  font-size: 16px;
  color: #555;
}

.header-text {
  color: #555;
}

.search-bar {
  height: 20px;
  border-radius: 5px;
}

.game-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bg-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding:10px;
}

.bg-card {
  position: relative;
  display: flex;
  max-width: 95vw;
  margin: 10px;
  background: #fff;
  /*padding: 5px;*/
  /*padding-bottom: 40px;*/
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
}

.boardgames-container {
  text-align: center;
}

.more-button {
  margin-bottom: 20px;
}

.bg-image {
  border-radius: 5px;
  max-height: 60vw;
  height: 300px;
}

.bg-thumbnail {
  border-radius: 5px;
  max-height: 60vw;
  height: 225px;
}

.loading {
  margin-top: 50px;
}

.bg-details-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
}

.bg-img-container {
  display: flex;
  position: relative;
  margin: 5px;
}

.bottom-container, .middle-container {
  position: relative;
  display: flex;
  max-width: 93vw;
  justify-content: center;
  vertical-align: middle;
}

.bottom-container {
  margin-top: 10px;
}


.detail-image {
  max-height: 600px;
  max-width: 100%;
  height: 60vw;
  width: auto;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
  vertical-align: middle;
}

.game-title {
  display: block;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 24px;
  margin: 5px;
}

.detail-section {
  flex: 1;
  padding: 15px;
  // width: 20%;
}


.detail-section-title {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 18px;
  margin-top: 10px;
}

.details-favorite-btn {
  position: absolute;
  height: 50px;
  width: 100px;
  bottom: 25px;
}

.favorite-button, .details-button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 120px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 2px solid #4dd89f;
  background: rgba(0, 0, 0, 0);
  font-family: 'Baloo Bhaina', cursive;
  font-size: 14px;
  color: #4dd89f;
}

.favorite-button:focus, .details-button:focus {
  outline: none;
}

.overlay {
  transition: .5s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
}

.bg-card:hover .overlay {
  opacity: .6;
}

.bg-card:hover .favorite-button {
  opacity: 1;
  bottom: 20%;
}

.bg-card:hover .details-button {
  opacity: 1;
}

.favorite-button:hover, .details-button:hover {
  background: rgba(77, 216, 159, 0.5);
}

.search-button {
  border: none;
  background: #4dd89f;
  height: 25px;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
}

.search-checkbox-container {
  font-family: "Cabin", sans-serif;
}


@media screen and (max-width: 850px) {
    .nav-container {
        display: block;
        height: 20px;
        padding-left: 0;
        padding-bottom: 10px;
        background: #4dd89f;
    }

    .logo-text{
      display: inline-block;
      margin: 0;
      padding: 0;
      height: auto;
    }

    .nav-button, .log-button {
      margin: 0;
    }

    .Header {
      position: relative;
      margin: 0;
    }

    .logo {
      display: inline-block;
      height: 50px;
      padding-left: 0;
      padding-top: 10px;
    }

    .page-layout {
      margin-top: 40px;
    }

    .search-checkbox-container {
      display: block;
    }
}
