@import "./variables";

body {
  background: $bgcolor;
  color: $textcolor;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

footer {
  font-size: 18px;
  padding: 10px;
}

.App {
  text-align: center;
}

.page-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  color: #555;
  margin: 10px;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 42px;
  color: #555;
  margin: 10px;
}

.header-text, .game-details, .game-description {
  font-family: 'Eczar', cursive;
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.game-details {
  margin-bottom: 100px;
}

.game-description {
  display: flex;
  width: 93vw;
  padding: 22px;
  margin: 5px;
  background-color: white;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
  vertical-align: middle;
}

.bg-img-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding:10px;
}

.bg-card {
  position: relative;
  display: flex;
  max-width: 95vw;
  margin: 10px;
  background: #fff;
  padding: 5px;
  padding-bottom: 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
}

.boardgames-container {
  text-align: center;
}

.more-button {
  margin-bottom: 20px;
}

.bg-image {
  max-height: 60vw;
  height: 300px;
}

.bg-thumbnail {
  max-height: 60vw;
  height: 200px;
}

.loading {
  margin-top: 50px;
}

.favorite-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.bg-details-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
}

.right-container, .left-container {
  display: flex;
  position: relative;
  width: 67vw;
  padding: 5px;
  margin: 5px;
  color: #ddd;
  background-color: white;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
  vertical-align: middle;
}

.right-container {
  width: 27vw;
}

.detail-image {
  height: 100%;
  width: 100%;
}

.game-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  margin: 5px;
}


.detail-section-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  margin-top: 10px;
}

.details-favorite-btn {
  position: absolute;
  height: 50px;
  width: 100px;
  bottom: 25px;
}

#bgg-logo {
  height: 30px;
}
